In [1]:
import pandas as pd
import numpy as np
import csv
import calendar
import datetime as dt

In [2]:
senators_data = pd.read_csv('senators_data.csv')

In [3]:
person = senators_data.drop_duplicates('senator').copy().dropna().reset_index().reset_index().drop(columns=['transaction_date','ticker','asset_type','type','amount','industry','index']).set_index('level_0')
person.index = np.arange(1, len(person) + 1)

In [4]:
person=person.reset_index()
person.columns=['id','owner','state','person_name']

In [5]:
ticker = senators_data.drop_duplicates('ticker').copy().dropna().reset_index().reset_index().drop(columns=['transaction_date','type','amount','state','owner','senator','index']).set_index('level_0')
ticker.index = np.arange(1, len(ticker) + 1)

In [6]:
ticker=ticker.reset_index()
ticker.columns=['id','ticker','asset_type','industry']

In [7]:
person_data = person.drop(columns='person_name')

In [8]:
ticker_data = ticker.drop(columns='ticker')

In [9]:
person=person.drop(columns=['owner','state'])
person = pd.concat([person, person_data], axis='columns', join='inner').drop(columns=['owner','state'])

In [10]:
person.columns=['id','person_name','person_data']

In [11]:
ticker=ticker.drop(columns=['asset_type','industry'])
ticker=pd.concat([ticker,ticker_data], axis='columns', join='inner').drop(columns=['asset_type','industry'])
ticker.columns=['id','ticker','ticker_data']

In [20]:
person

    id           person_name  person_data
0    1    Sheldon Whitehouse            1
1    2  Shelley Moore Capito            2
2    3  John W. Hickenlooper            3
3    4      Tommy Tuberville            4
4    5      Thomas R. Carper            5
5    6       Tammy Duckworth            6
6    7            Tina Smith            7
7    8        Gary C. Peters            8
8    9       Mitch Mcconnell            9
9   10          Dan Sullivan           10
10  11        Maria Cantwell           11
11  12           Jacky Rosen           12
12  13           Deb Fischer           13
13  14            John Thune           14
14  15             Ron Wyden           15
15  16           Jerry Moran           16
16  17    Angus S. King, Jr.           17
17  18       James M. Inhofe           18
18  19           Pat Roberts           19
19  20          Bill Cassidy           20
20  21        Kelly Loeffler           21
21  22             Tim Kaine           22
22  23              Ted Cruz           23
23  24             Jack Reed           24
24  25           Thom Tillis           25
25  26  Robert P. Casey, Jr.           26
26  27          Patty Murray           27
27  28      Chris Van Hollen           28
28  29           John Cornyn           29
29  30       Michael B. Enzi           30

In [13]:
person_data.head()

   id   owner state
0   1  Spouse    RI
1   2  Spouse    WV
2   3  Spouse    CO
3   4   Joint    AL
4   5  Spouse    DE

In [21]:
ticker

      id ticker  ticker_data
0      1    ESS            1
1      2    UPS            2
2      3    MCD            3
3      4    DUK            4
4      5    TTD            5
..   ...    ...          ...
695  696   ATRO          696
696  697    ALE          697
697  698    AAT          698
698  699   AAON          699
699  700    NOG          700

[700 rows x 3 columns]

In [22]:
ticker_data

      id asset_type                                         industry
0      1      Stock                    Real Estate Investment Trusts
1      2      Stock                Trucking Freight/Courier Services
2      3      Stock                                      Restaurants
3      4      Stock                                 Power Generation
4      5      Stock  Computer Software: Programming, Data Processing
..   ...        ...                                              ...
695  696      Stock                    Military/Government/Technical
696  697      Stock                                 Power Generation
697  698      Stock                    Real Estate Investment Trusts
698  699      Stock                  Industrial Machinery/Components
699  700      Stock                             Oil & Gas Production

[700 rows x 3 columns]

In [16]:
transaction = pd.concat([senators_data,person,ticker], axis='columns', join='inner')
transaction.index = np.arange(1, len(transaction) + 1)

In [17]:
# transaction = transaction.reset_index().drop(columns=['owner','ticker','asset_type','state','industry','senator'])

In [19]:
transaction

,transaction_date,owner,ticker,asset_type,type,amount,state,industry,senator,id,person_name,person_data,id,ticker,ticker_data
1,4/18/2023,Spouse,ESS,Stock,Sale (Full),"$15,000",RI,Real Estate Investment Trusts,Sheldon Whitehouse,1,Sheldon Whitehouse,1,1,ESS,1
2,4/18/2023,Self,ESS,Stock,Sale (Full),"$15,000",RI,Real Estate Investment Trusts,Sheldon Whitehouse,2,Shelley Moore Capito,2,2,UPS,2
3,5/16/2023,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Michael F. Bennet,3,John W. Hickenlooper,3,3,MCD,3
4,4/4/2023,Spouse,UPS,Stock,Sale (Full),"$15,000",WV,Trucking Freight/Courier Services,Shelley Moore Capito,4,Tommy Tuberville,4,4,DUK,4
5,4/4/2023,Spouse,MCD,Stock,Sale (Partial),"$15,000",WV,Restaurants,Shelley Moore Capito,5,Thomas R. Carper,5,5,TTD,5
6,4/4/2023,Spouse,DUK,Stock,Sale (Full),"$50,000",WV,Power Generation,Shelley Moore Capito,6,Tammy Duckworth,6,6,PTON,6
7,4/28/2023,Spouse,TTD,Stock,Sale (Full),"$50,000",CO,"Computer Software: Programming, Data Processing",John W. Hickenlooper,7,Tina Smith,7,7,DIS,7
8,4/28/2023,Spouse,PTON,Stock,Sale (Full),"$15,000",CO,Recreational Products/Toys,John W. Hickenlooper,8,Gary C. Peters,8,8,CMCSA,8
9,4/28/2023,Spouse,DIS,Stock,Sale (Full),"$50,000",CO,Services-Misc. Amusement & Recreation,John W. Hickenlooper,9,Mitch Mcconnell,9,9,CCCS,9
10,4/28/2023,Spouse,CMCSA,Stock,Sale (Full),"$50,000",CO,Television Services,John W. Hickenlooper,10,Dan Sullivan,10,10,AMZN,10
11,4/28/2023,Spouse,CCCS,Stock,Sale (Full),"$50,000",CO,Computer Software: Prepackaged Software,John W. Hickenlooper,11,Maria Cantwell,11,11,BABA,11
12,4/28/2023,Spouse,AMZN,Stock,Sale (Full),"$50,000",CO,Catalog/Specialty Distribution,John W. Hickenlooper,12,Jacky Rosen,12,12,SNAP,12
13,4/28/2023,Spouse,BABA,Stock,Sale (Full),"$15,000",CO,Business Services,John W. Hickenlooper,13,Deb Fischer,13,13,CARG,13
14,4/28/2023,Spouse,SNAP,Stock,Sale (Full),"$15,000",CO,"Computer Software: Programming, Data Processing",John W. Hickenlooper,14,John Thune,14,14,BBY,14
15,4/28/2023,Spouse,PINS,Stock,Sale (Full),"$15,000",CO,NaN,John W. Hickenlooper,15,Ron Wyden,15,15,CMG,15
16,4/12/2023,Spouse,CARG,Stock,Sale (Full),"$15,000",CO,Interactive Media,John W. Hickenlooper,16,Jerry Moran,16,16,CLF,16
17,4/12/2023,Spouse,BBY,Stock,Sale (Full),"$15,000",CO,Consumer Electronics/Video Chains,John W. Hickenlooper,17,"Angus S. King, Jr.",17,17,F,17
18,5/1/2023,Spouse,CMG,Stock,Sale (Partial),"$250,000",CO,Restaurants,John W. Hickenlooper,18,James M. Inhofe,18,18,ATVI,18
19,5/11/2023,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Rick Scott,19,Pat Roberts,19,19,X,19
20,4/28/2023,Joint,CLF,Stock Option,Sale (Partial),"$15,000",AL,Precious Metals,Tommy Tuberville,20,Bill Cassidy,20,20,OXY,20
21,4/28/2023,Joint,CLF,Stock Option,Sale (Partial),"$15,000",AL,Precious Metals,Tommy Tuberville,21,Kelly Loeffler,21,21,KMB,21
22,4/28/2023,Joint,CLF,Stock Option,Sale (Partial),"$15,000",AL,Precious Metals,Tommy Tuberville,22,Tim Kaine,22,22,MMM,22
23,4/28/2023,Joint,CLF,Stock Option,Sale (Partial),"$15,000",AL,Precious Metals,Tommy Tuberville,23,Ted Cruz,23,23,MRO,23
24,4/28/2023,Joint,CLF,Stock Option,Sale (Partial),"$15,000",AL,Precious Metals,Tommy Tuberville,24,Jack Reed,24,24,KR,24
25,4/28/2023,Joint,F,Stock,Purchase,"$50,000",AL,Auto Manufacturing,Tommy Tuberville,25,Thom Tillis,25,25,MDLZ,25
26,4/27/2023,Joint,F,Stock,Purchase,"$250,000",AL,Auto Manufacturing,Tommy Tuberville,26,"Robert P. Casey, Jr.",26,26,PARA,26
27,4/26/2023,Joint,F,Stock,Purchase,"$50,000",AL,Auto Manufacturing,Tommy Tuberville,27,Patty Murray,27,27,HPQ,27
28,4/26/2023,Joint,ATVI,Stock,Sale (Full),"$250,000",AL,Computer Software: Prepackaged Software,Tommy Tuberville,28,Chris Van Hollen,28,28,TSLA,28
29,4/24/2023,Joint,CLF,Stock Option,Sale (Partial),"$15,000",AL,Precious Metals,Tommy Tuberville,29,John Cornyn,29,29,TXN,29
30,4/24/2023,Joint,CLF,Stock Option,Sale (Partial),"$15,000",AL,Precious Metals,Tommy Tuberville,30,Michael B. Enzi,30,30,XP,30

In [27]:
person.to_csv('person.csv', sep=',', index=False, encoding='utf-8')
ticker.to_csv('ticker.csv', sep=',', index=False, encoding='utf-8')
person_data.to_csv('person_data.csv', sep=',', index=False, encoding='utf-8')
ticker_data.to_csv('ticker_data.csv', sep=',', index=False, encoding='utf-8')